*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.container  {
    width: 100%;
    max-width: 1450px;
    margin: 30px auto;
    padding-left: 20px;
    padding-right: 20px;
}
.site-hero  {
    background-image: url('../img/Bitmap\ \(1\).jpg');
    width: 100%;
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
.inner-texts    {
    padding-top: 15%;
    margin-left: 50px;
}
.inner-texts h1{
    font-size: 50px;
}
.inner-texts p  {
    padding-top: 10px;
}
.site-hero-button   {
    width: 190px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #0E8784;
}
.text-link  {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}
.inner-texts    {
    padding-left: 10px;
    padding-right: 10px;
}
.inner-texts h1 {
    font-size: 40px;
}
.inner-texts p  {
    font-size: 17px;
}
.about-colelctions  {
    margin-top: 100px;
    background-image: url('../img/Group\ 13.png');
    width: 100%;
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper-blocks  {
    display: flex;
    justify-content: space-around;
}
.main-block1    {
    width: 300px;
    margin-top: 150px;
    text-align: center; 
}
.main-block1 h3{
    font-size: 25px;
    font-weight: 800;
}
.main-block1 p{
    padding-top: 10px;
}


@media only screen and (max-width: 768px) {
    .container  {
        width: 98%;
    }
    .about-colelctions  {
        background-image: url('../imgformb/Group\ 7.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 150px;
    }
    .wrapper-blocks {
        width: 50%;
        margin: 0 auto;
        flex-direction: column;
    }
    .main-block1    {
        display: flex;
    } 
}



@media only screen and (max-width: 375px) {
    .container  {
        width: 98%;
    }
    .about-colelctions  {
        background-image: url('../imgformb/Group\ 7.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 65px;
    }
    .site-hero  {
        background-image: url('../imgformb/Bitmap.jpg');
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .inner-texts    {
        text-align: center;
        margin-left: 0px;
        height: 100%;
        padding-top: 100px;
    }
    .wrapper-blocks {
        flex-direction: column;
        align-items: center;
    }
    .main-block1    {
        display: block;
    }
}